extends layout

block content
  br
  ul.list-group
    li.list-group-item
      .quesansdiv
        div.col-md-1.col-sm-1.voteClass
          a.votesLink(href='/upvote/question/'+question._id)
            i.fa.fa-sort-up
          span(style='font-family:Arial')   #{question.votes}
          a.votesLink(href='/downvote/question/'+question._id)
            i.fa.fa-sort-up.fa-rotate-180
        div.col-md-11.col-sm-11
          span
            a.quesansHead(href='/questions/'+question._id)= question.title
          span.quesansBody= question.body
          br
          if question.tags.split(' ')[0].length > 0
            each tag,i in question.tags.split(' ')
              if tag.length > 0
                a.tagClass(href='/search/'+tag)   #{tag}     
          h6.font-weight-lighter.font-italic asked by #{questionUser.name}
  br
  if user
    a.btn.btn-primary(href='#answerdiv') 
      i.fas.fa-edit
      span(style='font-family:Arial')    Answer Question
  br
  if answers.length != 0
    span.font-weight-bold(style='font-size:20px;font-family:Arial')  #{answers.length} Answers
  ul.list-group
    each answer,i in answers
      li.list-group-item
        .quesansdiv
          div.col-md-1.col-sm-1.voteClass
            a.votesLink(href='/upvote/answer/'+answer._id)
              i.fa.fa-sort-up.upvote-answer
            span(style='font-family:Arial')   #{answer.votes}
            a.votesLink(href='/downvote/answer/'+answer._id)
              i.fa.fa-sort-up.fa-rotate-180.downvote-answer
          div.col-md-11.col-sm-11
            span.quesansBody(href='/questions/'+answer.quesid)= answer.body
            br 
            span
              h6.font-weight-lighter.font-italic answered by #{answer.user}
  #answerdiv
    if user
      h3.font-weight-bold Answer Question
      form(method='POST',action='/answer/giveanswer')
        #form-group
           input.form-control(name='quesid',type='hidden',value=question._id)
        #form-group
           label Body:
           textarea.form-control(name='body')(style='height:50vh')
        br
        input.btn.btn-primary.btn-sm(type='submit',value='Answer')
